.titleAboutMe {
  text-align: center;
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  background-color: #f17828;
  padding: 1%;
  border: 3px solid black;
}
h1 {
  font-weight: bold;
}

.bodyAboutMe {
  padding: 1%;
  margin-top: 1%;
  text-align: center;
  background-color: white;
  color: black;
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f17828;
}

.closeButton {
  color: rgb(46, 44, 44);
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.closeButton:hover {
  background-color: rgb(255, 241, 241);
}
a {
  color: rgb(46, 44, 44);
  background-color: transparent;
  text-decoration: none;
}
