<div class="titleAboutMe">
    <h1>About Me</h1>
</div>

<div class="bodyAboutMe">
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHvV4uMv4jPiA/profile-displayphoto-shrink_800_800/0/1614074758917?e=1623888000&v=beta&t=uK7Qptj6F6e4VgF89KO5gUBE1vsN3nzxrjj45dfEPVQ"
        style="width: 35%" />
    <h2>Tomasz Faliński</h2>
    <p class="title">Junior Fronted Developer</p>
    <p>falinskit@gmail.com</p>
    <p>+48 664-193-035</p>
    <a href="https://www.linkedin.com/in/tomasz-faliński-17546a207/" target="_blank">Linkedin</a>
    <p><button class="CloseButton" (click)="closeAboutMe()">Close</button></p>
</div>