@if (countries()) {
  @for (country of countries(); track country.name.common) {
    <div class="detail-container">
      <div class="detail-card">
        <div class="detail-header">
          <img class="flag-img" [src]="country.flags.png" [alt]="country.name.common">
          <h2>{{ country.name.common }}</h2>
        </div>

        <div class="detail-body">
          <div class="info-row">
            <span class="label">Capital</span>
            <span class="value">{{ country.capital }}</span>
          </div>
          <div class="info-row">
            <span class="label">Population</span>
            <span class="value">{{ country.population | number }}</span>
          </div>
          <div class="info-row">
            <span class="label">Area</span>
            <span class="value">{{ country.area | number }} km²</span>
          </div>
          <div class="info-row">
            <span class="label">Region</span>
            <span class="value">{{ country.region }}</span>
          </div>
          <div class="info-row">
            <span class="label">Subregion</span>
            <span class="value">{{ country.subregion }}</span>
          </div>
        </div>
      </div>
    </div>
  }
} @else {
  <app-skeleton-card [variant]="DiscoveryVariant.Detail"></app-skeleton-card>
}
