.form-group {
  padding: 2% 10%;
  text-align: left;
  display: block;
  font-size: 50px;
}
#imgFlagCounter {
  max-width: 10%;
  border: 2px solid black;
}
.header {
  padding-top: 60px;
  text-align: center;
  color: #f17828;
  font-weight: bold;
  font-size: 70px;
}
@media screen and (min-width: 1401px) {
  div.header {
    font-size: 80px;
  }
}

@media screen and (max-width: 1400px) {
  div.header {
    font-size: 30px;
  }
  div.form-group {
    font-size: 20px;
  }
}
