[class*="col-"] {
  float: left;
  padding-right: 1%;
  padding-left: 4%;
  padding-bottom: 5%;
}
a {
  text-decoration: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.button {
  padding: 20px 20px;
  text-align: center;
  color: rgba(10, 10, 10, 0.904);
  height: 120px;
  width: 560px;
  background-color: #f17828;
  border-radius: 8px;
  font-size: 20px;
}
.button:hover {
  background-color: rgb(255, 241, 241);
  cursor: pointer;
  color: #000000;
}
.grid-pad {
  padding-top: 3%;
  padding-left: 10%;
}

#imgFlagRegion {
  max-width: 10%;
}
.header {
  padding-top: 60px;
  text-align: center;
  color: #f17828;
  font-weight: bold;
  font-size: 70px;
}
