[class*="col-"] {
  float: left;
  padding-right: 1%;
  padding-top: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}
a {
  text-decoration: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.col-1-4 {
  width: 33%;
}
.module {
  padding: 20px;
  text-align: center;
  color: rgba(10, 10, 10, 0.904);
  max-height: 140px;
  min-width: 120px;
  background-color: #f17828;
  border-radius: 2px;
}
.module:hover {
  background-color: rgb(255, 241, 241);
  cursor: pointer;
  color: #000000;
}
.grid-pad {
  padding: 5% 0;
}
#imgFlagRegion {
  max-width: 20%;
}
