.toolbar {
  clear: both;
  position: relative;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
.button {
  background-color: white;
  color: black;
  padding: 19px 34px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  background-color: #f17828;
}
#aboutMe {
  float: right;
}
#buttonBack {
  float: left;
}
#logoToolbar {
  max-width: 8%;
  min-width: 9%;
}
