<mat-toolbar class="toolbar">
    <button mat-raised-button color="warn" class="button"(click)="goBack()"><i class="material-icons">arrow_back</i>BACK</button>
    <span class="fill"></span>
    <p><img id="logoToolbar"src="https://image.freepik.com/free-vector/graphic-design-geometric-wallpaper_52683-34399.jpg"></p>
    <span class="fill"></span>
    <button mat-raised-button color="warn" class="button"(click)="openAboutMe()"><i class="material-icons">assignment_ind</i>ABOUT ME</button>
</mat-toolbar>
