<div class="app-grid">
  @if (continents()) {
    @for (continent of continents(); track continent.id) {
      <app-discovery-card
        [label]="continent.name"
        [imgUrl]="continent.imgUrl"
        [route]="['/' + AppRoute.Continent, continent.region]"
        [variant]="DiscoveryVariant.Continent"
      ></app-discovery-card>
    } @empty {
      @for (i of [1,2,3,4,5,6]; track i) {
        <app-skeleton-card [variant]="DiscoveryVariant.Continent"></app-skeleton-card>
      }
    }
  } @else {
    @for (i of [1,2,3,4,5,6]; track i) {
      <app-skeleton-card [variant]="DiscoveryVariant.Continent"></app-skeleton-card>
    }
  }
  <app-add-card 
    label="Add Continent" 
    [variant]="CardVariant.Large" 
    (clicked)="openNewContinentsModal()"
  ></app-add-card>
</div>
