[class*="col-"] {
  float: left;
  padding-right: 1%;
  padding-left: 4%;
  padding-bottom: 5%;
}
a {
  text-decoration: none;
}

.button {
  text-align: center;
  color: rgba(10, 10, 10, 0.904);
  min-height: 150px;
  min-width: 300px;
  background-color: #f17828;
  border-radius: 8px;
  font-size: 40px;
}
.button:hover {
  background-color: rgb(255, 241, 241);
  cursor: pointer;
  color: #000000;
}
.grid-pad {
  padding-top: 3%;
  padding-left: 10%;

}
.header {
  padding-top: 60px;
  text-align: center;
  color: #f17828;
  font-weight: bold;
  font-size: 100px;
}
@media screen and (min-width: 722px) {
  div.header {
    font-size: 80px;
  }
}

@media screen and (max-width: 721px) {
  div.header {
    font-size: 40px;
  }
}
